<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>{% block title %}He Macarena{% endblock %}</title>
        {% block stylesheets %}
                <!-- Appel des bibliothèques Bootstrap -->
                <link rel="stylesheet" type="text/css" href="{{ asset('bundles/framework/css/bootstrap.css') }}" />
                <link rel="stylesheet" type="text/css" href="{{ asset('bundles/framework/css/bootstrap-theme.css') }}" />
                <!-- Appel de nos feuilles de style CSS -->
                <link rel="stylesheet" type="text/css" href="{{ asset('bundles/framework/css/style.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <header role="banner">
        <img id="logo-main" src={{ asset ('/bundles/framework/images/logo.png') }} width="200" alt="Logo Thing main logo">
        <nav id="navbar-primary" class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-primary-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ path ('fos_user_security_login') }}">Connexion</a></li>
                        <li><a href="{{ path ('fos_user_security_check') }}">Profil</a></li>
                        <li><a href="#">Activité</a></li>
                        <li><a href="#">Link</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header><!-- header role="banner" -->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'></script>
    <body>

    </body>
</html>
